body {
	font-family: Arial, sans-serif;
	background: #f7f7f7;
	margin-left: 20px;
}
form {
	width:500px;
}
label{
	margin-bootom:5px;
}
input, select{
	width: 100%;
	padding: 8px;
	margin-bottom:10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
button{
	padding:10px;
	background: #007bff;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size:16px;
	cursor:pointer;
}
button: hover{
	background:#0056b3;
}